*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background: black;
    overflow-x: hidden;
}
h1{
    text-align: center; 
}
/* ALL */
#H1P{
    display: block;
    margin-top: -10px;
    margin: auto;
    font-size: 80px;
    border: 10px solid transparent;
    border-left: 10px solid orange;
    width: 5em; 
}
/* Header */
#header{
    background: transparent;
    width: 75em;
    margin: auto;
    display: block;
    text-align: left;
    height: 2em;
    margin-left: 10em;
}
#sub-header{
    margin-left: 45em;
    padding: 1px;
    letter-spacing: 1px;
    text-align: right;
    margin-top: 10px;
    line-height: 1.70;
    word-spacing: 10px;  
}
#sub-header > a{
    text-decoration: none;
    color: white;
    word-spacing: 1px;
}
#sub-header > a:hover{
    color: lawngreen;
    transition: 1s;
    transition-duration: 2s;
}
#ico{
    position: fixed;
}
#fundo{
    display: block;
    margin: auto;
    width: 110em;
    margin-top: -1px;
    background-image: url(img/Fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 49.3em;
}
#fixed{
    height: 3em;  
    width: 76em;
    position: fixed;
    background: gray;
}
#border-circulo{
    border: 4px solid orange;
    background: black;
    height: 4em;
    width: 4em;
    margin: auto;
    margin-top: -10em;
    border-radius: 90%;
}
.border-pequena{
    border: 2.5px solid white;
    background: white;
    height: 0.5em;
    width: 0.5em;
    margin: auto;
    margin-top: -10em;
    border-radius: 5vw;
    -webkit-animation: animate 3s ease-in-out infinite forwards;
}
@-webkit-keyframes animate {
  0%{
      transform: translateY(200px);
  }
  50%{
      transform: translateY(165px);
  }
  100%{
      transform: translateY(200px);
  }
}
/* Box 1*/
#centralizado{
    margin-top: 230px;
    color: rgb(248, 229, 175);
    border: 0px solid transparent;
    width:75em;
    display: block;
    transition-duration: 1s;
    transform: 4s;
}
#border{
    margin-left:1em;
    border-left:6px solid orange ; 
    height: 12em;
}
hr{
    background:orange;
    border: 2px solid orange;
    width: 44.8em;
    margin-left: 450px;
    margin-top: -30px;
}
/* Box 2 */
#caixa{
    background: black;
    height: 18em;
    display: block;
    margin: auto;
}
#Ch1{
    font-size: 3em;
}
#Eq{
    margin-left: 18em; 
    margin-top: -7em;
}

#caixa > h2{
    color: white;
    border: 1px solid transparent;
    border-left: 8px solid orange;
    width: 20em;
    margin: auto;
    display: block;
}
#p1{
    margin-left: 120px;
    border: 1px solid transparent;
    font-size: 25px;
    width: 15.5em;
    height: 10em;
}
#p2{
    margin-left: 730px;
    border: 1px solid transparent;
    font-size: 25px;
    width: 15.5em;
    height: 10em;
}
#p3{
    border: 1px solid transparent; 
    width: 22em; 
    height: 2em;
    font-size: 25px; 
    margin-left: 1040px; 
    color: rgb(211, 208, 208);
}

#autor{
    margin-left: 1120px;
    margin-top: -360px;
    width: 28em;
    height: 27.6em;
}
/* Box 3 */
#caixa1{
background: rgb(56, 55, 55);
margin-top: 200px;
color: black;
height: 38em;
}
#sub-caixa{
    width: 96em;
    height: 35em;
    margin: auto;
    display: block;
    border: 5px solid rgb(216, 161, 60);
    border-top:transparent;
    border-bottom: transparent;
    border-radius:80px ;
}
#sub-caixa > h1{
    color: whitesmoke;
}
#sub-caixa > p{
    width: 55em;
    font-size:25px ;
    margin: auto;
    color: whitesmoke;
}
#centra1,#centra2,#centra3{
    width: 10em;
}
#centra1{margin-left: 200px;}
#centra2{margin-left: 315px;}
#centra3{margin-left: 290px;}
#img{
   width: 90em;
   height: 10em; 
   border: 1px solid transparent;
   margin: auto;
}
#a,#a1,#a2{ 
    margin-left: 100px;
    display: inline-block;
    width: 18em;
    text-align: center;
    color: whitesmoke;
}
/* Box 4 */
/* Carousel 1 */
#caixa2{
    background: rgb(117, 116, 116);
    height: 50.5em;
}
#carrousel{
    margin-top: 100px;
    width: 99em;
    height: 45em;
    margin: auto;
    display: block;
}
/* Carousel 2 */
#carousel-Text > li{
    margin-left: -20px;
    margin-left: 10px;
}
/* Box 5 */
#caixa3{
    background: rgb(114, 111, 111);
    height: 18em;
    margin-top: -10px;
}
#Depoimentos{
    margin-top: 20px;
}
#carouselp{
    text-align: center; 
    color: rgb(32, 32, 32)
}
#prev{
    margin-left: -100em;
    margin-top: 40px; 
}
#next{
    margin-top: 40px; 
    margin-right: 100px;
}
/* Box 6 */
#card{
    background: rgb(141, 138, 138);
}
#caixa4{
    height: 75em;
    background: rgb(141, 138, 138);
    margin: auto;
    display: block;
}
#caixa4 > h1{
    width: 9em;
}
#container > img{
   margin-left: -10px;  
}
#container > a{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color:orange;
    text-align: center;
    top: 590px;
    left: 10px;
    width: 768px;
    text-decoration: none;
    line-height: 50px;
    height: 50px;
    font-size: 35px;
}
#container > img:hover,
#container1 > img:hover,
#container2 > img:hover,
#container3 > img:hover{
    border: 4px solid orange;  
}
#container > img,
#container1 > img,
#container2 > img,
#container3 > img{
    width: 48em; 
    height: 30em;
    background: #1B1B1B
}
#container1 > img{
    margin-top: -510px;
    margin-left: 790px;
}
#container1 >  a{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color:orange;
    text-align: center;
    top: 589px;
    left: 810px;
    width: 768px;
    text-decoration: none;
    line-height: 50px;
    height: 50px;
    font-size: 35px;
}
#container2 > img{
    margin-left: -10px;
}
#container2 > a{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color:orange;
    text-align: center;
    top: 1093.9px;
    left: 10px;
    width: 768px;
    text-decoration: none;
    line-height: 50px;
    height: 50px;
    font-size: 35px;
}
#gray{
    position: absolute;
    background-color: rgba(116, 109, 109, 9);
    opacity: 0.8;
    color:orange;
    text-decoration: none;
    text-align: center;
    top: 663px;
    left: 810px;
    width: 768px;
    line-height: 50px;
    height: 481px;
    font-size: 35px;
}
#gray:hover{
    border: 4px solid orange;
}
#gray > h1{
    position: absolute;
    color:orange;
    text-align: center;
    top: 150px;
    left: auto;
    width: 768px;
    font-size: 100px;
}
#container3 >img{
    margin-top: -509px;
    margin-left: 790px;
}
#container3 > a{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color:orange;
    text-decoration: none;
    text-align: center;
    top: 1094px; 
    left: 810px;
    width: 768px;
    line-height: 50px;
    height: 50px;
    font-size: 35px;
}
/* Box 7 */
#caixa5{
    background: rgb(168, 165, 165);
    margin-left: -20px;
    width: 100em;
    height: 35em;
    margin-top: -1px;
}
#caixa5 > h1{
    width: 12em; 
    color: rgb(2, 2, 2);
}
#caixa5 > p{
    width: 15em;
    margin-top: 8px;
    margin-left: 190px;
    font-size: 2.3em;
}
#imgEscri{
    margin-top: -15em;
    margin-left: 50em;
    width: 45em;
    height: 25em;
}
#Ne{
    color: rgb(2, 2, 2);
}
#caixa5 > #Loca{width: 3.5em; height: 3.5em; margin-left: -84em; margin-top: -6em;}
#caixa5 > #Tele{width: 3.5em; height: 3.5em; margin-top: 1em; margin-left: 11em;}

#caixa5 > #lização{margin-top: -170px; margin-left: 100px;}
#caixa5 > #fone{margin-top: -70px; margin-left: 70px;}

#caixa5 > #locap{font-size: 20px; margin-left: 249px; margin-top: -15px; color: orange;}
#caixa5 > #Telep{font-size: 20px; margin-left: 249px; margin-top: -15px; color: orange;}
/* Box 8 */
#caixa6{
    background: rgb(196, 189, 189);
    width: 100em;
    margin-left: -20px;
    height: 24em;
}
#RedesS> h1{
    color: rgb(216, 144, 9); 
}
#Postagens{
    margin-left: 300px;

}
#RedesS{
    width: 20em;
    margin-left: 1120px;
    margin-top: -230px;
}
#book,#inst,#git{
    border: 2px solid none;
    border-radius: 50%;
    background: white;
    width: 4em;
}
#book{
    margin-left: 60px;
}
#book:hover,#inst:hover,#git:hover{
    background: orange;
    transform: 5s;
    transition-duration: 1s;
}
#La{
    color: transparent;
}
#footerDev{
    background-color: rgb(224, 221, 221);
    height: 3.2em;
    margin-left: -20px;
}
#footerDev > h1{
    text-align: center;
    color: black;
}
#GTV{
    width: 18em; height: 18em; margin-top: 20px; margin-left: 27em;
}
#PC{
    margin-top: -280px; margin-left: 500px; color: rgb(2, 2, 2);
}
#Cama{margin-left: 500px; width: 6em; height: 6em;}
#Cama1{width: 6em; height: 6em; margin-left: 31.2em; margin-top: -10px;}
#AD{
    width: 12em; height: 6em; font-size: 16px;  margin-left: 609px; margin-top: -96px; color: rgb(216, 144, 9);
}
#mob{
    margin-left: 609px; margin-top: -60px; color: rgb(2, 2, 2);
}
#mob1{
    margin-left: 609px; margin-top: -60px; color: rgb(2, 2, 2);
}
#hr1{margin-top: 26px; margin-left: 500px; width: 18em;}
#CC{width: 12em; height: 6em; font-size: 16px;  margin-left: 609px; margin-top: -96px; color: rgb(216, 144, 9);}
/* Modal */
#modal2{
    width: 1em;
    height: 1em;
    color: black;
    font-size: 10em;
    margin-top: -40px;
    border: 5px solid transparent;
    pointer-events: painted;
}
#modal-dialog{
    background: transparent;
    border: 1px solid transparent;
}
#imgModal{
    height: 43em;
    width: 85em;
    margin-left: -350px;
}
/* Sobre */
#sobre{
    margin-top: 48px;
    margin-left: -239.6px;
    background-image: url(img/Mesa\ e\ jardim.jpg);
    height: 80em;
}
#sobreBord{
    background: black;
    width: 1903px;
    margin-left: -240px;
    height: 20em;
    margin-top: -1133px;
}
#sobreBord > img{
    height: 15em;
    width: 25em;
    margin-top: -270px;
    margin-left: 520px;
}
#SobreHistó{
    height: 15em;
    color: white;
    width: 25em;
    margin-left: 1000px;
    margin-top: -266px;
}
#SobreHistó > h2{
    border: 1px solid transparent;
    border-left: 4px solid orange;
    margin-left: 75px ;
    color: orange;
}
#SobreHistó > p{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.6px;
}
p > span{
    color: orange;
    font-size: 15px;
}
#SobreOrage{
    margin-left: 500px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-left: 8px solid orange;
    height: 15em;
}
#sobreTransp{
    background: orange;
    opacity: 0.8;
    width: 1903px;
    height: 250px;
    margin-left: -240px;
}
#sobreWhite{
    background: black;
    width: 1903px;
    margin-left: -240px;
    height:25em;
}
#sobreWhite > img{
    width: 25em;
    height: 20em;
    margin-top: 40px;
    margin-left: 80em;
}
#sobreWhiteh{
    margin-top: -320px;
    width: 50em;
    margin-left: 450px;
}
#sobreWhiteh > h1{
    color: white;
    border: 1px solid transparent;
    border-left: 8px solid orange;
    height: 1.2em;
    width: 8em;
    margin: auto;
}
#sobreWhiteh > p{
    color: white;
    text-align: center;
}
#sobreWhiteh > h3{
    color: orange;
}
#sobre > h1{
    color: white;
    border: 1px solid transparent;
    border-left: 8px solid orange;
    font-size: 7em;
    width: 5em;
    margin: auto;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}
#SobreTranspBor{
    
}
#SobreTranspBor > h1{
    color: black;
    border: 1px solid transparent;
    border-left: 8px solid orange;
    width: 12em;
    margin-left: 700px ;
}
#SobreTranspBor > p {
    text-align: center;
    width: 50em;
    font-size: 2em;
    margin: auto;
}
#SobreTranspBor > a{
    border: 1px solid orange;
    background: orange;
    font-size: 2em;
    margin-left: 800px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#SobreTranspBor > a:hover{
    border: 1px solid black;
    color: black;
    background: white;
   box-shadow: inset 0 0 1em gold, 0 0 1em red ;
   transition: 3s;
   text-decoration: none;
}
/* Contanto */
#Contanto{
    margin-top: 48px;
    margin-left: -239.6px;
    height: 70em;
}
#maps{
    margin-left: 1090px;
    width: 50em;
    height: 29.7em;
    margin-top: -800px;
}
#ContantoBord{
    background: black;
    width: 1903px;
    margin-left: -240px;
    height: 32em;
    margin-top: -1140px;
}
#ContantoBord > a{
    display: flex;
    color: white;
    text-decoration: none;
    border: 1px solid orange;
    background-color: orange;
    margin-top: 5px;
    margin-left: 10px;
    width: 35em;
    height: 7.4em;
    font-size: 30px;
}
a > h1{
    color: black;
    margin-left: 10px ;
    margin-top: 80px;

}
#ContantoBord > a:hover{
    background: rgb(247, 197, 106);
    transition: all 1s;
}
.icoContanto{
    width: 3em;
    height: 2em;
    margin-left: 250px ;
    margin-top: 80px;
}
#ContantoBody{
    overflow-y: hidden;
}
#footerContanto{
    background-color: transparent;
    height: 3.4em;
    margin-left: -250px;
}
#footerContanto > h1{
    text-align: center;
    color: black;
}
#Portfólio{
margin-top: 45px;
margin-left: -239.6px;
background-image: url(img/Portólio/Portfóliocozinha.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 80em;
}
#PortfólioCaixa1{
    display: table-cell;
    height: 200px;
    border: 5px solid rebeccapurple;
    width: 59.5em;
}
#PortfólioCaixa2{
    display: table-cell;
    border: 5px solid red;
    width: 59.5em;

}
#PortfólioConteúdo{
    margin-top: -1280px;
    margin-left: -240px;
}
/* Fullscreen */
@media (device-width: 100vw) and (device-height:100vh) {
    #fundo{
        height: 56em;
    }
}
